<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Log In', new_user_session_path %></li>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'About', pages_about_path %></li>
</ul>

<ul id="nav-mobile" class="right">
	<li><i class="tiny material-icons hide-on-small-only person-icon">perm_identity</i></li>
  <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Guest<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>