<div class="row center index-section-row">
	<h5 class="left-align index-section-header mobile-less-top">Instruments</h5><hr class="index-section-hr">
	<div class="owl-carousel col">
	<% @instruments.each do |instrument|  %>
		<%= link_to(instrument) do %>
		<div class="instrument-index-img-div instrument-index-img-div-small" style="background:url('<%= instrument.image.url %>')">
			<p><%= instrument.name %></p>
		</div>
		<% end  %>
	<% end  %>
	</div>
</div>
