<div class="row center index-section-row">
	<h5 class="left-align index-section-header">Instruments</h5><hr class="index-section-hr">
	<div class="owl-carousel col">
	<% @instruments.each do |instrument|  %>
		<%= link_to(instrument) do %>
		<div class="instrument-img-div item">
			<%= image_tag instrument.image.url, class: "responsive-img instrument-img" %>
			<p class="instrument-name"><%= instrument.name %></p>
		</div>
		<% end  %>
	<% end  %>
	</div>
</div>
