/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-nav {
    height: 65px;
    line-height: 65px;
/*    background: transparent;
*/    background: black;
    box-shadow: none;
    margin-bottom: 30px;
}

.nav-wrapper {
    margin-right: 30px;
}

#intro-text-wrapper {
    background: rgba(0,0,0,0.3);
    height: 100%;
}

#intro-text-box {
    color: white;
    text-align: left;
    display: table;
    height: 100%;
    width: 50%;
    margin-left: 100px;
}

#intro-text {
    display: table-cell;
    /*vertical-align: middle;*/
    padding-top: 400px;
    font-family: Tahoma, sans-serif;
}

#mute-button {
    background: transparent;
    border: none;
    margin-right: 20px;
}

#intro-top {
	vertical-align: middle;
}

#intro-header {
	display: inline-block;
	margin: 0;
}

#enter-button {
	margin: 0 0 20px 20px;
	vertical-align: middle;
}

.user-form-header {
    font-family: 'Bungee Inline', cursive;
}

#mute-icon {
    font-size: 25px
}

.brand-logo {
    margin-left: 20px;
    font-family: 'Bungee Inline', cursive;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#sign-up-form {
    background: white;
}


.shootout-list {
	margin: 0 0 0 0;
    border: none;
}

.shootout-item-length {
	float: right;
	margin-right: 30px;
}

.shootout-item {
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

.shootout-container {
/*	background: beige;
*/	padding: 30px 30px 0 30px;
	margin-top: 30px;
	color: white;
	border: 5px solid black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.index-section-row {
    margin-bottom: 0;
}

.index-section-header {
    margin: 0 0 5px 50px;
    font-family: 'Bungee Inline', cursive;
}

.index-section-hr {
    text-align: right;
    margin: 0 0 20px auto;
    width: 80%;
}

#index-shootout-header {
    margin-top: 30px;
}

.manu-img-div {
    height: 120px;
    line-height: 120px;
    width: 120px;
    display: inline-block;
    margin: 0 20px 0 20px;
    background: white;
    padding: 5px;
}

.manu-row {
    margin: 0 auto;
}

.manu-img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-height: 120px;
}

.instrument-img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-height: 100px;
    border: 5px solid black;
}

.instrument-img-div {
    height: 80px;
    line-height: 80px;
    width: 120px;
    display: inline-block;
    margin: 0 20px 0 20px;
    background: white;
}

.instrument-name {
    line-height: 20px;
    margin: 0;
    color: black;
}

.audio-track {
	width: 100%;
}

.current-mic, .current-uploader {
	background: rgba(255,255,255,0.5);
	color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 3px solid black;
    font-family: 'Bungee Inline', cursive;
}

.mic-table-header, .mic-table-data {
	padding: 2px;
	width: 100px;
}

.mic-info-row {
    margin: 50px 20px 0 30px;
}

.mic-info-image {
    border: 5px solid black;
    padding: 20px;
}