<div class="row center index-section-row manu-row">
	<h5 class="left-align index-section-header">Instruments</h5><hr class="index-section-hr">
	<div class="container instr-index-container">
	<h3 class="med-header">Choose an Instrument to View More Shootouts</h3>
		
		<% @instruments.each do |instrument|  %>
		<%= link_to(instrument) do %>

		<div class="instrument-index-img-div" style="background:url('<%= instrument.image.url %>')">
			<p><%= instrument.name %></p>
		</div>

		<% end  %>
	<% end  %>
	</div>
</div>