<div class="row center index-section-row manu-row">
	<h5 class="left-align index-section-header">Manufacturers</h5><hr class="index-section-hr">
	<div class="container manu-index-container">
	<h3 class="med-header">Choose a Manufacturer to View More Shootouts</h3>
		
		<% @manufacturers.each do |manufacturer|  %>
			
				<%= link_to(manufacturer) do %>
					<div class="manu-index-img-div item">
						<%= image_tag manufacturer.logo.url, class: "responsive-img manu-img" %>
					</div>

				<% end  %>
		<% end  %>
	</div>
</div>