<div class="row center">
	<% @manufacturers.each do |manufacturer|  %>
		<%= link_to(manufacturer) do %>
		<div class="manu-img-div">
			<%= image_tag manufacturer.logo.url, class: "responsive-img manu-img" %>
		</div>
		<% end  %>
	<% end  %>
</div>

<% @shootouts.each do |shootout|  %>
	<%= render 'partials/shootout-list', :shootout => shootout %>
<% end  %>

