<%= render 'partials/manufacturers_list', :manufacturers => @manufacturers %>

<%= render 'partials/instruments_list', :instruments => @instruments %>

<h5 id="index-shootout-header" class="left-align index-section-header">Shootouts</h5><hr class="index-section-hr">

<% @shootouts.each do |shootout|  %>
	<%= render 'partials/shootout-list', :shootout => shootout %>
<% end  %>
