<div class="landing-container">
	<div id="landing-text-wrapper">
		<div id="intro-text-box">
			<div id="landing-text">
				<div id="intro-top">
					<h3 id="intro-header">Mic Drop</h3>
					<h5>Your Resource for Microphone Shootouts</h5>
					<ul>
						<li>Browse for Shootouts by Manufacturer or Instrument</li>
						<li>Sign Up to Upload Your Own Shootout</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<h5 id="index-shootout-header" class="left-align index-section-header">Shootouts</h5><hr class="index-section-hr">


<% @shootouts.each do |shootout|  %>
	<%= render 'partials/shootout_list', :shootout => shootout %>
<% end  %>


<div class="center">
	<div class="apple_pagination">
	    <div class="page_info">
	      <%= page_entries_info @shootouts %>
	    </div>
	    <%= will_paginate @shootouts %>
	</div>
</div>