<div class="row center index-section-row">
	<h5 class="left-align index-section-header">Manufacturers</h5><hr class="index-section-hr">
	<% @manufacturers.each do |manufacturer|  %>
		<%= link_to(manufacturer) do %>
		<div class="manu-img-div">
			<%= image_tag manufacturer.logo.url, class: "responsive-img manu-img" %>
		</div>
		<% end  %>
	<% end  %>
</div>

<%= render 'partials/instruments_list', :instruments => @instruments %>

<h5 id="index-shootout-header" class="left-align index-section-header">Shootouts</h5><hr class="index-section-hr">

<% @shootouts.each do |shootout|  %>
	<%= render 'partials/shootout-list', :shootout => shootout %>
<% end  %>

